@import 'sass/stylesheet.scss';

#root {
  background-color: $body-bg;
}

.layout {
  margin: 0 auto;
  max-width: 1400px;

  @media only screen and (max-width: 1585px) {
    margin: 0 10rem 0 10rem;
  }

  @media only screen and (max-width: 1300px) {
    margin: 0 7rem 0 7rem;
  }

  @media only screen and (max-width: 1100px) {
    margin: 0;
  }
}
